*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#all_products{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(250px);
    gap: 10px;
}
.p_box{
    /* border: 1px solid red; */

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-bottom: 20px;
}


.p_img{
    width: 100%;
    height: 60%;
}

#p_type,#p_desc,#p_price{
margin-left: 20px;
font-size: 20px;
font-weight: bold;
}




#remove_product{
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 25px; */
    margin-left: 20px;
    padding: 6px 15px ;
    border-radius: 5px;
    background-color:  red;
    color: white;
    cursor: pointer;

}

#add_more_product{
    font-size: 20px;
    margin-left: 1%;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px ;
    border-radius: 5px;
    background-color:   #aa0087;
    color: white;
    cursor: pointer;
    
}